{% load static%}


<header class="fixed-top mt-4">
    <div class="container">
        <nav class="navbar navbar-expand-md glass-nav px-4 py-2">
            <a class="navbar-brand d-flex align-items-center gap-2" href="/">
                <img alt="Djza Dolphin Logo" class="transition-all"
                    src="https://lh3.googleusercontent.com/aida/AP1WRLsouarB9wCBRcy9HCjkaIN-4PxW73UpifGgukLiVqfGAin2JQ4NHAyL8noLicSkm9whfiJhAvpn1e_lmcI17A5R1i9a8pjvTLeGp7Jl9ldUrf0QwjQOmfdynDPieQrRHMNUmx82lmY_QjuV4c9ajPuXAeDeIia9qod_tL4VgpIQz6FYH9hYTY-DZDG89p79upqpzEZWQuwkmgiuE5uOkzN51PZOQMJOw9DsFZlMRqrKLZlKWBNecHxssCs"
                    style="width: 40px; height: 40px;" />
                <span class="fs-4 fw-bold text-primary-custom">Djza</span>
            </a>
            <button class="navbar-toggler border-0" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
                <span class="material-symbols-outlined text-primary-custom">menu</span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav gap-lg-4 gap-2">
                    {% for link, menu in nav %}
                    <li class="nav-item">
                        <a class="nav-link nav-link-custom 
                        " style="text-decoration: none !important;" href="{% url link %}">
                            {{ menu }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="d-none d-md-block" style="width: 40px;"></div> <!-- Spacer to center links -->
        </nav>
    </div>
</header>